body{
    background-color:WHITE;
    margin: 0px;
}
.page
{  
    padding-top: 0px;
    width: 341px;
    margin: 50px;
    border: black 1px solid;
    border:none;
}
.main
{
    width: 300px;
    padding-top:20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0px;
    border: black 1px solid;
    border: none;
}
 #em {
     padding: 10px;
     margin: 5px;
     width: 100%;
     border-radius: 5px;
     border: black 1px solid;
     border-color: rgb(212, 212, 223);
}
#ps{
    padding: 10px;
    margin: 5px;
    width:100%;
    border-radius: 5px;
    border: black 1px solid;
    border-color: rgb(212, 212, 223);
}
#fp{
    font-size: small;
    margin-top: 0px;
}
#reg{
    font-size: small;
    margin-top: 0px;
    float:right;
}
.button{
    background-color: rgb(1, 180, 210);
    width: 100%;
    border-radius: 5px;
    border: none;
    margin: 4px 2px;
    color:whitesmoke;
 
    padding:10px ;
    transition-duration: 0.5s;
    font-weight: bold;
}
.button:hover{
   opacity:0.8;
}
hr{
    width:130px;
    margin-left: 1px;
    margin-right: 3px;
}
#or{
    float: left;
}
#or2{
    float: right;
}
.top{
    float:right;
    text-align: center;
    margin-right: 150px;
    margin-top: 0px;

}